<div class="d-flex justify-content-center">
  <div class="col-10">
    <h1>Edit Tracks</h1>

    <!-- artists: {{artists()}} <br>
    albums: {{albums()}} <br>
    albumArtists: {{albumArtists()}} <br>
    genres: {{genres()}} <br>
    years: {{years()}} <br>

    index: {{index()}} -->

    <br/>  <br/>  <br/>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()">

      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.name" for="field_title">Title</label>
        <input  type="text"  class="form-control"  name="title"  id="field_title"    data-cy="title"
          [ngModel]="trackStore.selected()[index()].name"
        />
        
      </div>
    
      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.artistName" for="field_artist">Artist</label>
        <input  type="text"  class="form-control"  name="artist"  id="field_artist"    data-cy="artist" [ngbTypeahead]="artistSuggestions" 
          [ngModel]="artist()" (ngModelChange)="artist.set($any($event))"
        />
        
      </div>

      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.albumName" for="field_album">Album</label>
        <input  type="text"  class="form-control"  name="album"  id="field_album"    data-cy="album"
          [ngModel]="album()" (ngModelChange)="album.set($any($event))"
        />
        
      </div>



      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.albumArtistName" for="field_album_artist">Album Artist</label>
        <input  type="text"  class="form-control"  name="albumArtist"  id="field_album_artist"    data-cy="album_artist" [ngbTypeahead]="artistSuggestions" 
          [ngModel]="albumArtist()" (ngModelChange)="albumArtist.set($any($event))"
        />
        
      </div>



      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.genreName" for="field_album">Genre</label>
        <input  type="text"  class="form-control"  name="genre"  id="field_genre"    data-cy="genre" [ngbTypeahead]="genreSuggestions" 
          [ngModel]="genre()" (ngModelChange)="genre.set($any($event))"
        />
        
      </div>


      <div class="mb-3 d-flex ">
        <label class="form-label me-2 col-2" jhiTranslate="mediaLibraryApp.track.releasedYear" for="field_year">Year</label>
        <input  type="text"  class="form-control"  name="year"  id="field_year"    data-cy="year"
          [ngModel]="year()" (ngModelChange)="year.set($any($event))"
        />
        
      </div>
      

     <br><br> 
    <hr>  

      <div class="d-flex  ">

        <button class="btn btn-secondary" (click)="previous()" [disabled]="!hasPrevious()">
          <i><fa-icon icon="arrow-left" class="pe-2"></fa-icon></i>
        </button>
        
        <button class="btn btn-secondary" (click)="next()" [disabled]="!hasNext()">
          <i><fa-icon icon="arrow-right" class="pe-2"></fa-icon></i>
        </button>

        <div class="m-auto"></div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div> 
    </form>

    <br><br>

    <!-- album artist: {{albumArtist()}} -> artist: {{albumArtist()}} -> album: {{album()}} -> genre: {{genre()}} -> year: {{year()}} <br>
    album artist: {{originalAlbumArtist()}} -> artist: {{originalAlbumArtist()}} -> album: {{originalAlbum()}} -> genre: {{originalGenre()}} -> year: {{originalYear()}} -->

<!-- 
    <ul>
      <li *ngFor="let track of tracks()">
        {{track | json }}

      </li>
    </ul> -->

  
  </div>
</div>
