<div>
  <!-- <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert> -->

  <div class="alert alert-info centered" id="no-result" *ngIf="events?.length === 0">
    <span jhiTranslate="crmApp.event.home.notFound">No events found</span>
  </div>

  <div
    class="p-0 infinite-scroll list-group"
    jhiAutoHeight="420"
    infinite-scroll
    (scrolled)="loadPage(page + 1)"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="false"
    [infiniteScrollDisabled]="page >= links['last']"
  >
    <div *ngFor="let event of events; eventBy: eventId" class="p-1 border-0 list-group-item">
      <div class="row">
        <div class="col-md-4">
          <div class="card bg-light">
            <div class="card-body" (swipeLeft)="delete($event, event)">
              <h5 class="card-title">{{ event.name }}</h5>

              <a href="#" class="btn btn-primary" [routerLink]="['/event', event.id, 'view']">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
